<h2 class="text-center">
    Posteos
</h2>

<app-buscar-titulo></app-buscar-titulo>

<table class='table table-striped'>
    <thead>
        <tr>
            <th class="text-center">
               Titulo
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of PostsU">
            <td class="text-center">
                {{p.title}}
            </td>
            <td class="text-center">
              <button class="btn btn-success">
                 Ver Detalle del Usuario
              </button>
            </td>
            <td class="text-center">
                <button class="btn btn-dark">
                  Ver Comentarios
                </button>
            </td>
        </tr>
    </tbody>
</table>