<h2 class="text-center">
    Albumes
</h2>

<table mat-table [dataSource]="Albumes" class="mat-elevation-z8">
  <ng-container matColumnDef="Albumes">
    <th mat-header-cell *matHeaderCellDef class="text-center">Albumes</th>
    <td mat-cell *matCellDef="let a">{{ a.title }}</td>
  </ng-container>

  <ng-container matColumnDef="Ver Galeria">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let u" class="text-center">
      <button mat-flat-button class="btn btn-primary">
        Ver Galeria
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="Ver Detalle del Usuario">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let u" class="text-center">
      <button mat-flat-button class="btn btn-dark">
        Ver Detalle del Usuario
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>