<h2 class="text-center">
  {{ Title }}
</h2>
  
  <table mat-table [dataSource]="Usuarios" class="mat-elevation-z8">
    <ng-container matColumnDef="UserName">
      <th mat-header-cell *matHeaderCellDef class='text-center' >Username</th>
      <td mat-cell *matCellDef="let u" class='text-center'>{{ u.username }}</td>
    </ng-container>

    <ng-container matColumnDef="Nombre y Apellido">
      <th mat-header-cell *matHeaderCellDef class='text-center'>Nombre y Apellido</th>
      <td mat-cell *matCellDef="let u" class='text-center'>{{ u.name }}</td>
    </ng-container>

    <ng-container matColumnDef="Sitio Web">
      <th mat-header-cell *matHeaderCellDef class='text-center'>Sitio Web</th>
      <td mat-cell *matCellDef="let u" class='text-center'>{{ u.website }}</td>
    </ng-container>
    <ng-container matColumnDef="Ver Posteos">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let u" class='text-center'>
        <button mat-flat-button routerLink='{{u.id}}/posts' class='btn btn-dark' >
          Ver Posteos
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="Ver Albumes">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let u" class='text-center'>
        <button mat-flat-button class='btn btn-primary' >
          Ver Albumes
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="Ver los Todos">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let u" class='text-center'>
        <button mat-flat-button class='btn btn-success'>
          Ver los Todos
        </button>
      </td>
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>