<h2 class="text-center">
  {{ displayedColumns }}
</h2>
<mat-list role="list" *ngFor="let user of Usuarios">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>Username: {{ user.username }}</mat-panel-title>
      </mat-expansion-panel-header>
      <h3>
        Datos Personales
      </h3>
      <p>
        Nombre y Apellido :
        {{ user.name }}
      </p>
      <p>
        Web:
        <a href="#" class="navbar-link">{{ user.website }}</a>
      </p>
      <hr />
      <h3>
        Datos de la Empresa
      </h3>
      <p>Eslogan: {{ user.company.catchPhrase }}</p>
      <p>BS: {{ user.company.bs }}</p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-list>
