<h2 class="text-center">
  {{ Title }}
</h2>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>
        Ids
      </th>
      <th class="text-center">
        Username
      </th>
      <th class="text-center">
        Nombre y Apellido
      </th>
      <th class="text-center">
        Website
      </th>
      <th>
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of Usuarios" >
      <td class="text-center">
        {{ user.username }}
      </td>
      <td class="text-center">
        {{ user.name }}
      </td>
      <td class="text-center">
        {{ user.website }}
      </td>
      <td class="text-center">
        <button class="btn btn-primary" (click)='getUsuariosId()' >
          Ver Posteos
        </button>
      </td>
      <td class="text-center">
        <button class=' btn btn-dark'>
          Ver Albumes
        </button>
      </td>
      <td class="text-center">
        <button class=' btn btn-success'>
          Ver Todos
        </button>
      </td>
    </tr>
  </tbody>
</table>